{% extends 'base_template.html' %}

{% load static %}

{% block content %}
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Біздің мамандар</h2>
        </div>

        <div class="row gy-4">

          {% for doctor in doctors %}
              <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
                {% if doctor.image %}
                    <img src="{{ MEDIA_ROOT }}{{ doctor.image.url }}" class="img-fluid">
                {% else %}
                    <img src="{% static "img/team/team-1.jpg" %}" class="img-fluid">
                {% endif %}
              <h4>{{ doctor.first_name}} {{ doctor.last_name }}</h4>
              <span>{{ doctor.speciality }}</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}

        </div>

      </div>
    </section><!-- End Our Team Section -->

{% endblock %}